@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ensure the menu does not push other elements */
#menu {
    z-index: 50; /* Ensure it appears above other content */
    position: absolute; /* Absolute positioning to keep it below the header */
    top: 100%; /* Position below the button */
    left: 0;
    background-color: #2d3748; /* Background color for mobile menu */
}

/* Additional styles for mobile menu */
@media (min-width: 1024px) {
    #menu {
        position: static; /* Default layout for desktop */
        display: flex;
        top: auto; /* Reset top position for desktop */
        left: auto;
        background-color: transparent; /* Background color for desktop */
    }
}
